# NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
# NEXT_PUBLIC_SUPABASE_ANON_KEY=
# STRIPE_SECRET_KEY=sk_test_51TgJhU3uAeERTU2oD10jh0hTolxUZBEpRmj3ssFOj3wRRJS9esgw6AMfqAqJzFtKVBx2YW7dd9mS8GFrEK8Acnt300g2XVsIlG
# NEXT_PUBLIC_APP_URL=http://localhost:3000
# SUPABASE_SERVICE_ROLE_KEY=
# STRIPE_WEBHOOK_SECRET=
