NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH
STRIPE_SECRET_KEY=sk_test_51TgJhU3uAeERTU2oD10jh0hTolxUZBEpRmj3ssFOj3wRRJS9esgw6AMfqAqJzFtKVBx2YW7dd9mS8GFrEK8Acnt300g2XVsIlG
NEXT_PUBLIC_APP_URL=http://localhost:3000
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxtem9jYm5kbG96bGNjeXR5aHpxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTIyNTEzOSwiZXhwIjoyMDk2ODAxMTM5fQ.CYhTyNKUNXBLNBSY5WpUre6vEhHDv-sUlS-8D0VK0Uo
STRIPE_WEBHOOK_SECRET=whsec_23d947325bc0478155bd278df513566b52ac7f5048a020bc262afc72a092ebff